.containerCronograma{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.containerCronograma .section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}